/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    background-color: ;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: ;
}

.milkbar,#creambar{
    padding-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
}
#milk,#cream{
    padding-top: 10px;
    background-color: #00a4ff;
    border-color: #52b0c7;
    border-radius: 5px;
    padding-left: 30px;
    height: 40px;
    font-size: 16px;
    color: white;
    width: 100%;
}
#subbarcontainer{
    padding-left: 30px;
    padding-top: 5px;
    width:100%;
}
#subbar{
    margin-top: 5px;
    padding-top: 5px;
    background-color: #52b0c7;
    border-color: blue;
    border-radius: 5px;
    padding-left: 30px;
    height: 30px;
    font-size: 16px;
    color: white;
    width: 100%;
}
.main{
    padding-top: 20px;
}